div{
  color:blueviolet;
  font-size: large;
  background-color: beige;
  

}
p{
  color: aqua;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: red;
}



