div {
  color:rgb(69, 59, 59);
  background-color: blue;
}
main {
  border-style: none;
  background: fixed;
  background-color: azure;
  font-size: medium;
}
div{
  color:blue;
  font-size: large;
  font-weight: 100px;
  background-color: blue;
  

}
p{
  color: aqua;
}
